body {
  font-family: 'Hind Siliguri', sans-serif;
  background-color: #232323;
  color: white;
  transition: background-color 0.5s;
}
.nav {
  background-color: white;
}
.ok {
  color: black;
}
.jeff {
  background-color: white;
  color: black;
}
.jeff:hover {
  background-color: #efefef;
}
.parallax-container {
  height: 500px;
}
.keemstar {
  height: 200px;
}
.hat {
  background-color: #1A1A1A;
  transition: background-color 0.5s;
}
.header {
  margin-top:-0px;
}

.p {
  margin-top:-30px;
  font-size: 20px;
}
.darkmode {
  font-family: 'Hind Siliguri', sans-serif;
  background-color: white;
  color: black;
  transition: background-color 0.5s;
}
.darkmode .jeff {
  background-color: black;
  transition: background-color 0.5s;
  color: white;
}
.darkmode .hat {
  background-color: #CECECE;
  transition: background-color 0.5s;
}
